.footer {
	font-size: 12px;
	padding-top: 0;
	margin-top: 2.5rem;
    margin-right: 0px;
    margin-bottom: 2.5rem;
    margin-left: 0px;
	display: block;
}

.footer__left {
	float: left;
	width: 60%;
}

.footer__right {
	float: left;
	width: 30%;
}

.footer .footer__cta {
	text-align: right;
}