.header {
	padding: 2.25rem 0 4.5rem;
	margin: 0 0 4.5rem;
	width: 100%;
	position: relative;
}

.header__link {
	border: 0;
	color: #f8f8ff;
	font-family: "Josefin Slab", serif;
	letter-spacing: -5px;
	transition: 2.5s;
	z-index: 10;
	position: relative;
}

.js-nav-active .header__link {
	color: #3b4654;
}

.header__link:hover {
	border: 0;
	color: #f8f8ff;
}

.header .logo-plus {
	position: relative;
	top: -4px;
}

.header__title {
	font-size: 3rem;
	padding: 0 2rem;
	text-transform: uppercase;
	display: block;
}

.header__strap {
	display: block;
	font-size: 2.4rem;
	color: #828282;
}
