.img-banner {
    min-height: 375px;
    height: 40vw;
    background-color: #f8f8ff;
    background-position: center;
    background-size: cover;
    margin-top: 5rem;
    margin-bottom: 3rem;
    position: relative;
    overflow: hidden;
}
@media screen and (min-width: 680px) {
    .img-banner {
        height: 75%;
   }
}
.img-banner .bg-tint {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(59, 70, 84, 0.5);
}

.img-banner-sp {
    min-height: 470px;
    height: 40vw;
    background-color: #f8f8ff;
    background-position: center;
    background-size: cover;
    margin-top: 5rem;
    margin-bottom: 3rem;
    position: relative;
    overflow: hidden;
}
@media screen and (min-width: 680px) {
    .img-banner-sp {
        height: 85%;
   }
}
.img-banner-sp .bg-tint {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(59, 70, 84, 0.5);
}