.link-leader-container {
    position: relative;
}
.link-leader {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: #f8f8ff;
}
.link-leader a {
    color: #f8f8ff;
}
.link-leader--inverse, .link-leader--inverse a {
    color: #9b4dca;
}
.link-leader--inverse:hover::after {
    background: #9b4dca;
}